#cart-panel {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#cart-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px 0px 40px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.342);
    font-size: small;
    width: 60%;
}

@media only screen and (max-width: 700px) {
    #cart-content {
        width: 95%;
    }
}

#cart-header {
    color: #202020;
    margin-left: 20px;
}

.cart-button, 
.close-button {
    float: right;
    margin-right: 15px;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
}

.close-button {
    margin-right: 15px;
}

.cart-button:hover,
.cart-button:focus,
.close-button:hover,
.close-button:focus {
    color: #202020;
    text-decoration: none;
    cursor: pointer;
}

#cart-items {
    margin-top: 20px;
    text-align: center;
}

#cart-items table {
    width: 100%;
    text-align: center;
}

#cart-items .cart-item {
    color: #202020;
}

.cart-item-buttons {
    margin-left: 6px;
    float: none;
}

.cart-item-buttons .cart-button {
    margin-right: 5px;
    float: none;
}

.total-price {
    font-size: 16px;
    font-weight: 700;
}

#order-confirmation-container {
    margin-top: 35px;
    text-align: center;
}

#order-confirmation-button {
    padding: 10px 20px;
    background-color: rgb(25, 64, 182);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    color: white;
    font-size: large;
}

#order-confirmation-button:hover {
    background-color: rgb(13, 45, 143);
    cursor: pointer;
    transition: 0.5s;
}