header {
    background-color: royalblue;
    padding: 5px 0px 5px 0px;
    height: 30px;
}

header .title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: white;
}

#shopping-cart-button {
    background-color: rgb(25, 64, 182);
    color: white;
    border: none;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#shopping-cart-button:hover {
    background-color: rgb(13, 45, 143);
    cursor: pointer;
    transition: 0.5s;
}

.subtitle {
    margin: 15px 0px 0px 20px;
    color: #202020;
    font-weight: 300;
    font-size: 15px;
}

#products-container {
    padding: 20px 20px 0px 20px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#cart-access-container {
    margin: 20px 0px 40px 20px;
}

#cart-access-button {
    padding: 10px 10px 10px 10px;
    background-color: rgb(25, 64, 182);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-size: large;
    width: 220px;
}

#cart-access-button:hover {
    background-color: rgb(13, 45, 143);
    cursor: pointer;
    transition: 0.5s;
}