.product-item {
    background-color: #FFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
    margin: 0px 15px 15px 0px;
    width: 140px;
    text-align: center;
    color: rgb(46, 46, 46);
    position: relative;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.product-item:hover, product-item:focus, .product-item:active {
    cursor: pointer;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.product-item .image-container {
    display: flex;
    height: 140px;
}

.product-item .image-container img {
    width: 95%;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 5px;
    margin: auto;
}

.product-item .counter {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 0px 10px 0px 10px;
    box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.2);
    color: rgb(46, 46, 46);
}

.product-item .details {
    padding-bottom: 10px;
}

.details .product-name {
    margin-top: 5px;
    font-size: 14px;
}

.details .product-price {
    margin-top: 10px;
    font-size: large;
    font-weight: 550;
    color: royalblue;
}